extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
   div.navbar-header
    a.navbar-brand(href='#/')= title
    a.navbar-brand(href='#/history')= 'Solution Explorer'
   div.container
    div
  div.container
   div(ng-view)
